/* Rotation */
.rotate-enter {
    transform: rotate(0deg);
}
.rotate-enter-active {
    transform: rotate(90deg);
    transition: transform 300ms;
}
.rotate-exit {
    transform: rotate(90deg);
}
.rotate-exit-active {
    transform: rotate(0deg);
    transition: transform 300ms;
}

/* Fade in and out for children nodes */
.fade-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.fade-enter-active {
    max-height: 1000px;  /* A large value, you can adjust if needed */
    opacity: 1;
    transition: max-height 300ms ease-in, opacity 300ms ease-in;
}
.fade-exit {
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
}
.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-in, opacity 300ms ease-in;
}
